<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Feed.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <title>Feed</title>
</head>
<body>
    <div id="page-feed">
        
        <header>
            <img src="#" alt="Poetize">
            <div>
                <button onclick="window.location.href = 'http://localhost:3000/newPoem'">Registrar um poema</button>
                <button onclick="logOut()" id="btnLogOut">Sair</button>
            </div>
        </header>

        <main>
            <div class="cards">
                {% for poem in poems %}
                    <div class="card" onclick="selectPoem({{poem.id}})">
                        <input type="hidden" value={{poem.id}} name="poemID">
                        <h3>{{poem.title}}</h1>
                        <p>{{poem.poem}}</p>
                    </div>
                {% endfor %}
            </div>
        </main>

    </div>

    <button type="button" onclick="test()">clica</button>
<script src="/scripts/Feed.js"></script>
</body>
</html>