<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Poem.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <title>Poem</title>
</head>
<body>
    <div id="page-poem">
        
        <header>
            <img src="#" alt="Poetize">
            <div>
                <button onclick="window.location.href = 'http://localhost:3000/newPoem'">Cadastre um poema</button>
                <button onclick="logOut()" id="btnLogOut">Sair</button>
            </div>
        </header>
        
        <div class="poemCard">
            
            <h1>{{poem.title}}</h1>
            <h3>{{poem.poem}}</h3>
            
        </div>
    </div>


<script src="/scripts/Poem.js"></script>
</body>
</html>