<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/newPoems.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <title>Signup</title>
</head>
<body>
    <div id="page-newPoem">
        
        <header>
            <img src="#" alt="Poetize">
            <div>
                <button onclick="window.location.href = 'http://localhost:3000/newPoem'">Cadastre um poema</button>
                <button onclick="logOut()" id="btnLogOut">Sair</button>
            </div>
        </header>
        
        <form>
            <fieldset>
                <legend>
                    <h2>Poetize aqui...</h2>
                </legend>

                <div class="field">
                    <label for="title">Titulo: </label>
                    <input type="text" name="title" required autocomplete="off">
                </div>
                <div class="field">
                    <label for="poem">Poema: </label>
                    <textarea name="poem" required></textarea>
                </div>
                <button type="button" onclick="RegisterPoem()">Registrar</button>
            </fieldset>
        </form>
    </div>

<script src="/scripts/newPoems.js"></script>
</body>
</html>