<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/styles/Signup.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <title>Signup</title>
</head>
<body>
    <div id="pages">

        <header>
            <img src="#" alt="Poetize">
        </header>
        
        <form>
            <a href="/login">Voltar</a>
            <fieldset>
                <legend>
                    <h2>Insira seus dados para efetuar o cadastro</h2>
                </legend>

                <div class="field">
                    <label for="nome">Nome: </label>
                    <input type="text" name="nome" required autocomplete="off">
                </div>
                <div class="field">
                    <label for="email">Email: </label>
                    <input type="text" name="email" required autocomplete="off">
                </div>
                <div class="field">
                    <label for="pass">Senha: </label>
                    <input type="password" name="pass" required autocomplete="off">
                </div>
                <button type="button" id="signupBTN">Cadastrar</button>
            </fieldset>
        </form>
    </div>

<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<script src="/scripts/Signup.js"></script>
</body>
</html>