ul{
    margin-right: 10px;
}

#logo{
    margin-left: 10px;
}

nav ul{
    margin-right: 10px;
}

nav ul li{
    transition: backgroun-color 500ms;
    
}

nav ul li:hover{
    border: solid 1px;
    border-color: black;
}

button{
    width: 200px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    /* margin-top: 40px;  */
    transition: background-color 500ms;
    cursor: pointer;

    display: inline-block;
    margin-right: 10px;
} 

#btnLogOut{
    width: 70px;
    margin-left: 10px;
}

.clickedHeaderLI{
    border: solid 1px;
    border-color: black;
}