main{
    margin-top: 48px;
}

.poemCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    overflow: auto;

    gap: 24px;
}

.card{
    background-color: #0f0913;
}

#likeBTN{
    color: white;
}

main h4{
    font-weight: normal;
    font-family: Roboto, sans-serif;

    margin-bottom: 32px;
}
    


header{
    margin-top: 48px;
    /*Todos Ficam na mesma "linha" */
    display: flex ;
    align-items: center;
    /*espaçamento dos elementos*/
    justify-content: space-between;
}

button{
    width: 200px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    /* margin-top: 40px;  */
    transition: background-color 500ms;
    cursor: pointer;

    display: inline-block;
    margin-right: 10px;
}



header a{
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    padding: 6px;
    background-color: #572766;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

#btnLogOut{
    width: 70px;
}

.infPoem{
    
    cursor: pointer;
}

.cardButtons{
    position: absolute;
    bottom: 0;
}


button:hover{
    background-color: #4e395c;
}